:root {
  --backgroup-image: url('./assets/images/pink2.jpg');
}

body {
  background-image: var(--backgroup-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background {
  background-color: #74BDCB ;
}

.rounded-circle {
  border-radius: 50%!important;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #f1f3f7;
  border: 1px solid #eff0f2;
  border-radius: 0.75rem;
}

.custom-modal-width .modal-dialog {
  max-width: 1200px; /* Adjust the width as needed */
}

.custom-modal-width .modal-content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
